<h1><%= @taxon.name %></h1>

<% content_for :sidebar do %>
  <%= render partial: "spree_on_the_rocks/shared/taxonomies" %>
  <%= render partial: "spree_on_the_rocks/shared/filters" if @taxon.children.empty? %>
<% end %>

<%= render partial: "spree_on_the_rocks/shared/products",
           locals: { products: @products, taxon: @taxon } %>

<% unless params[:keywords].present? %>
  <% cache @taxon do %>
    <%= render partial: "taxon", collection: @taxon.children %>
  <% end %>
<% end %>
