<% cache [current_currency, @product] do %>
  <div itemscope itemtype="http://schema.org/Product">

    <%= render partial: "image" %>
    <%= render partial: "thumbnails" %>
    <%= render partial: "properties" %>
    <%= render :partial => "promotions" %>

    <h1 itemprop="name"><%= accurate_title %></h1>

    <div itemprop="description">
      <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
    </div>

    <%= render partial: "cart_form" %>
    <%= render :partial => 'taxons' %>
  </div>
<% end %>
