<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<% unless filters.empty? %>
  <%= form_tag "", method: :get do %>
    <% params[:search] ||= {} %>
    <%= hidden_field_tag "per_page", params[:per_page] %>

    <% filters.each do |filter| %>
      <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
      <% next if labels.empty? %>

      <h6><%= filter[:name] %></h6>
      <ul>
        <% labels.each do |name, value| %>
          <% label = "#{filter[:name]}_#{name}".gsub(/\s+/,'_') %>
          <li>
            <input type="checkbox"
                   id="<%= label %>"
                   name="search[<%= filter[:scope].to_s %>][]"
                   value="<%= value %>"
                   <%= params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(value.to_s) ? "checked" : "" %> />
            <label for="<%= label %>"><%= name %></label>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= submit_tag Spree.t(:search), :name => nil %>
  <% end %>
<% end %>
