<%= render partial: "spree_on_the_rocks/shared/error_messages", locals: { target: @order } %>

<h1><%= Spree.t(:checkout) %></h1>
<%= checkout_progress %>
<%= form_for @order, url: update_checkout_path(@order.state) do |form| %>
  <% unless @order.email? %>
    <p>
      <%= form.label :email %><br/>
      <%= form.text_field :email %>
    </p>
  <% end %>
  <%= render @order.state, form: form %>
<% end %>
<% if @order.state != "confirm" %>
  <%= render partial: "summary", locals: { order: @order } %>
<% end %>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.token %>"
</script>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>
